@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
*{
	margin: 0px;
	padding: 0px;
}
.container{
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), 10% , rgba(0, 0, 0, 0.7)), url("../img/img-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;

}
.container-log{
	position: relative;
	width: 450px;
	height: 100%;
	background-color: white;

	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;

}
.container-registro{
	position: relative;
	width: 450px;
	height: 100%;
	background-color: white;

	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.container-alert{
	position: relative;
	width: 400px;
	height: 200px;
	background-color: white;
	border-radius: 11px;

	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#inicio input, #registro input {
	height: 50px;
	width: 198px;
	border-radius: 0px 3px 3px 0px;
	color: #606468;
	font-family: 'Montserrat';
	padding: 0 16px;
	border: none;
	border-bottom: 2px solid #EEEEEE;
	border-right: 2px solid #EEEEEE;
	outline: none;
}
#inicio input[type="submit"], #registro input[type="submit"] {
	width: 280px;
	border-radius: 3px;
	background-color: #F9C851;
	/*#44C4A1*/
	color: #eee;
	font-weight: bold;
	font-family: 'Montserrat';
  	outline: none;
  	cursor: pointer;
  	color: white;
}
#inicio input[type="submit"]:hover, #registro input[type="submit"]:hover{
	background-color: #F8D057;
}
#alert input[type="submit"] {
	width: 280px;
	height: 50px;
	border-radius: 3px;
	background-color: #F9C851;
	/*#44C4A1*/
	color: #eee;
	font-weight: bold;
	font-family: 'Montserrat';
  	outline: none;
  	cursor: pointer;
  	color: white;
	}
#inicio span, #registro span {
	width: 50px;
	height: 50px;
	background-color: #EEEEEE;
	color: #606468; 
	display: block;
	float: left;
	line-height: 50px;
	text-align: center;
	outline: none;
	border-bottom: 2px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
}
#inicio h1, #registro h1, #alert h1{
	font-family: 'Montserrat';
	font-size: 28px;
}
#inicio p, #registro p{
	font-family: 'Montserrat';
	font-size: 15px;
}
#inicio a, #registro a{
/* rgba(0, 0, 0, 0.2)*/
}
#reg{
	color: red;
	cursor: pointer;
}



