@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
.fontawesome-dashboard{
	color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}
.fontawesome-file-alt{
	color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.menu h1{
	height: 50px;
	width: 198px;
	color: white;
	font-family: 'Montserrat';
	border: none;
	outline: none;
	padding-top: 20px;
	font-weight: bold;
}
a{
	text-decoration: none;
}
*{
	margin: 0;
	padding: 0;
}
span {
	width: 50px;
	height: 50px;
	color: #606468; 
	display: block;
	float: left;
	line-height: 50px;
	text-align: center;
	outline: none;
	text-align: center;
}
.container{
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
}
.container-card{
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	justify-content: flex-start;
}
.menu{
	position: relative;
	width: 300px;
	height: 100%;
	background-color: #222D32;

	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	justify-content: flex-start;
}
.info{
	position: relative;
	width: 100%;
	height: 75px;

	display: flex;
	align-items: center;
}
.back-card{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #E1E1E1;

	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.card{
	position: relative;
	width: 95%;
	height: 90%;
	border-radius: 5px;
	border: 2px solid #d5d5d5;
	background-color: maroon;
}
.bar{
	position: relative;
	width: 100%;
	height: 79px;
	background-color: #44C4A1;

	display: flex;
}
.icon{
	position: relative;
	width: 100%;
	height: 65px;
	background-color: #4DB196;
	
	display: flex;
	align-items: center;
	justify-content: center;

}
.inicio{
	position: relative;
	width: 100%;
	height: 65px;
	padding-left: 20px;

	display: flex;
	align-items: center;
	justify-content: center;
	text-orientation: center;

}
.add{
	position: relative;
	width: 100%;
	height: 65px;
	padding-left: 20px;

	display: flex;
	align-items: center;
	justify-content: center;

}
.categorias{
	position: relative;
	width: 100%;
	height: 65px;
	background-color: aqua;

	display: flex;

}
.space{
	position: relative;
	width: 100%;
	height: 335px;
	display: flex;

}
.exit{
	position: relative;
	width: 100%;
	height: 65px;
	background-color: green;

	display: flex;
}
